
<div class="div">

    <div class="row">
        <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btn-lg" [ngClass]="Component == 'Roles' ? 'btn-danger' : 'btn-primary' " (click)="ChangeComponent('Roles')">Roles</button>
        </div>
        <div class="col-6 text-center">
            <button type="button" class="btn btn-warning btn-lg" [ngClass]="Component == 'Designation' ? 'btn-danger' : 'btn-warning'" (click)="ChangeComponent('Designation')">Designation</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" *ngIf="Component == 'Roles'">

        <app-roles></app-roles>

    </div>

    <div class="col-12" *ngIf="Component == 'Designation'">

        <app-designation></app-designation>

    </div>
    
    
</div>