<div class="row">

  <div class="row">

    @if (isloder) {
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
  
    }@else {

      @for (item of DesignationList; track $index) {
        <div class="col-3" >
            <div class="card" style="width: 18rem;margin-top: 10px;">
                <div class="card-body">
                    <h5 class="card-title">EmployeeID=={{item.designationId}}</h5>
                  <h5 class="card-title">Employee&nbsp;Designation=={{item.designation}}</h5>
                  <a href="#" class="card-link">Edit</a>
                  <a href="#" class="card-link">Delete</a>
                </div>
              </div>
            </div>       
    } 

    }

  </div>   
</div>
